<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>app.screenplay</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{SCREENPLAY_PATH}}</string>
        <string>-silent</string>
    </array>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>RunAtLoad</key>
    <{{SCREENPLAY_AUTOSTART}}/>
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
