[submodule "Common/qt-google-analytics"]
	path = Common/qt-google-analytics
	url = https://github.com/HSAnet/qt-google-analytics.git
[submodule "Common/qt-breakpad"]
	path = Common/qt-breakpad
	url = https://github.com/kelteseth/qt-breakpad
