body {
    background-color: #f3f3f4 !important;
   ;
}
h1, h2, h3 {
    color: #404244;
}
h3 {
    font-size: 1.5rem !important;
    
}
h2 {
    margin-top:3rem !important;
    border-left: 3px solid #ff6e42;
    padding-left: 10px;

}
a {
    color:#41cd52 !important;
}
img {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

p {
    color: #546E7A;
}

.fn{
    padding: 15px 0 15px 0;
    border-bottom: 1px #eee solid;
}

.func p {
    margin-bottom: 1rem;
}

.func h3 {
   font-size: 1.2rem !important;
}

.small-subtitle {
    display: none
}

.wrapper.container h1:first-of-type { 
    padding-bottom:  2rem;
    padding-top: -2rem;
}


#mainWrapper > li:first-of-type { 
    display: none;
}

.table td, .table th {
    padding: .25rem !important;
}

.nav {
    height: 50px;
    background:#ff6e42;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

.navHome a{
    color: white !important;
    font-size: 1.2rem;
    line-height: 2rem;
}

.navWrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 2.8rem;
}

.navWrapper a span {
    color: white !important;
}

.wrapper {
    margin: 1rem;
    padding: 3rem !important;
    border-radius: 3px;
    background-color:white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14);
}

.qml {
    background: #eeeeee;
    padding: 1rem;
    border-radius: 3px;
}

.type {
    color:#41cd52 ;
}

.toc {
    display: none;
}

.logo {
    font-size: 1.5rem;
    padding-bottom: 4px;
}

.nav div a {
    text-decoration: none;
}

#license {
    text-align: center;
    margin: 1rem 0;
}