body {

    background-color: #f3f3f4  !important;;
 }
 
 h1, h2, h3 {
     color: #404244;
    
 }
 a {
    color:#41cd52 !important;
 }

 .nav {
     height: 50px;
     background:#41cd52;
     color: white;
 }

 .navWrapper {
     display: flex;
    align-items: center;
 }

.wrapper  {
    margin: 1rem;
    padding: 3rem !important;
    border-radius: 3px;
    background-color:white;
}

.logo {
    font-size: 1.5rem;

}
